# Tipos de Datos en Python

Pytho utiliza múltiples tipos de datos para la Analítica.

# Integer

In [6]:
x = 14

print(x)
print(type(x))

14
<class 'int'>

# Floats

In [7]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

3.141592653589793
<class 'float'>

In [8]:
almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

# Función round()

Permite redondear un número flotante con n cifras decimales.

In [9]:
# Round to 5 decimal places

rounded_pi = round(almost_pi, 5)

print(rounded_pi)
print(type(rounded_pi))

3.14286
<class 'float'>

In [10]:
y_float = 1.
print(y_float)
print(type(y_float))

1.0
<class 'float'>

# Booleans

Valores de Falso o Verdadero.

In [11]:
z_one = True
print(z_one)
print(type(z_one))

z_two = False
print(z_two)
print(type(z_two))

True
<class 'bool'>
False
<class 'bool'>

Las expresiones con operadores relacionales devuelven valores lógicos True/False

In [12]:
z_three = (1 < 2)

print(z_three)
print(type(z_three))

True
<class 'bool'>

In [16]:
z_four = (5 != 3)

print(z_four)
print(type(z_four))

True
<class 'bool'>

Se pueden manejar operadores lógicos:

In [17]:
z_five = not z_four

print(z_five)
print(type(z_five))

False
<class 'bool'>

# Strings

Se pueden manejar datos Strings con varias alternativas: 

1.- Con comillas simples o dobles. Son lo mismo. Son de 1 linea.
2.- Con comillas triples. Son de n lineas

In [19]:
w = 'Hello, Python!'

print(w)
print(type(w))

Hello, Python!
<class 'str'>

In [20]:
w = """
Hello, Python!
Como están todos por allá?
"""
print(w)
print(type(w))

Hello, Python!
Como están todos por allá?

<class 'str'>

Longitud de un String:

In [21]:
print(len(w))

43

In [22]:
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

<class 'str'>
0

In [23]:
my_number = "1.12321"

print(my_number)
print(type(my_number))

1.12321
<class 'str'>

In [24]:
also_my_number = float(my_number)

print(also_my_number)
print(type(also_my_number))

1.12321
<class 'float'>

# Concatenacion

In [25]:
new_string = "abc" + "def"

print(new_string)
print(type(new_string))

abcdef
<class 'str'>

In [26]:
newest_string = "abc" * 3

print(newest_string)
print(type(newest_string))

abcabcabc
<class 'str'>